menu "Feast-O-Matic Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default ""
        help
            SSID (network name) of the WiFi network to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default ""
        help
            Password for the WiFi network.

    config EXAMPLE_FIRMWARE_UPGRADE_URL
        string "firmware upgrade url endpoint"
        default "https://github.com/mfocosta/feast-o-matic/releases/latest/download/feast-o-matic.bin"
        help
            URL of server which hosts the firmware
            image.

    config 28BYJ48_STEPS_PER_REV
        int "28BYJ48 Steps Per Revolution"
        default 2048
        help
            Number of steps per revolution for the 28BYJ48 stepper motor.

    config HX711_CALIBRATION_FACTOR
        int "HX711 Calibration Factor"
        default -1057
        help
            Calibration factor for the HX711 load cell amplifier.

endmenu
